<header class='site-header'>
  <div class='container nav-wrap'>
    <a class='logo' href='{{ "/" | relative_url }}'>Mach 2 Marketing</a>
    <button class='menu-toggle' aria-controls='nav-main' aria-expanded='false'>Menu</button>
    <ul id='nav-main' class='nav-links'>
      {% for item in site.data.navigation.main %}
      <li><a href='{{ item.url | relative_url }}'>{{ item.title }}</a></li>
      {% endfor %}
      <li><a class='btn btn-nav' href='{{ site.data.navigation.cta.url | relative_url }}'>{{ page.nav_cta_text | default: site.data.navigation.cta.short_title }}</a></li>
    </ul>
  </div>
</header>
